version: 2
defaults: &defaults
  working_directory: /go/src/github.com/ahstn/atlas
  docker:
    - image: circleci/golang:1.10.3

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: fetch vgo
          command: go get -u golang.org/x/vgo
      - run:
          name: build atlas
          command: vgo build cmd/atlas/atlas.go
      - run:
          name: test atlas
          command: vgo test -coverpkg=all ./...
